/* Home.module.css */
.home {
    display: flex; /* Use flexbox to align children */
    justify-content: center ; /* Center children horizontally */
    align-items: flex-start;
    height: 100vh; /* Make the home container fill the viewport height */
    width: 100%; /* Adjust width as needed */
}

.home > * {
    margin-bottom: 10px; /* Add margin of 5px below each child element */
}