.video-form {  
    padding: 20px;
    border: 2px solid black;
    width: 50%; 
    height: auto; /* Adjusts height based on content */
    font-family: 'Poppins', sans-serif;
}


.video-form h1 {
  text-align: center;
  font-size: 41px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  background: -webkit-linear-gradient(right, #56d8e4, #9f01ea, #56d8e4, #9f01ea);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.video-form h3 {
  text-align: center;
}

.input-group {
    display: flex; /* Use Flexbox for layout */
    justify-content: flex-start; /* Align children to the start */
    align-items: center; /* Align items vertically */
    width: 100%; /* Full width to match the form's width */
    margin-bottom: 2rem;
}

.input-group label {
    flex-basis: 20%; /* Allocate specific width to the label */
    text-align: left; /* Right-align text to closely align with the input */
    margin-right: 0.5rem; /* Space between label and input */
}

.input-group input {
    flex-grow: 1; /* Input takes remaining space */
    /* Optional: Define a max-width if you want to limit input width */
}

.time-input-group {
    display: flex; /* Use Flexbox for layout */
    justify-content: flex-start; /* Align children to the start */
    align-items: center; /* Align items vertically */
    width: 100%; /* Full width to match the form's width */
    margin-bottom: 2rem;
    
}

.time-input-group label {
    flex-basis: 20%; /* Allocate specific width to the label */
    text-align: left; /* Right-align text to closely align with the input */
    margin-right: 0.5rem; /* Space between label and input */
}

.time-input-group span{
    width: 1rem;
    text-align: center;
}

.time-input-group input {
    width: calc((76% - 2rem) / 3); /* Input takes remaining space */
    /* Optional: Define a max-width if you want to limit input width */
}

.button-container {
    display: flex;
    justify-content: center;
    width: 100%; /* Ensures the container spans the full width */
    margin-top: 20px; /* Adds some space above the button, adjust as needed */
}

/* CSS */
.submit-button {
  appearance: button;
  background-color: #1899D6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 30%;
}

.submit-button:after {
  background-clip: padding-box;
  background-color: #1CB0F6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.submit-button:main,
.submit-button:focus {
  user-select: auto;
}

.submit-button:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.submit-button:disabled {
  cursor: auto;
}

.submit-button:active {
  border-width: 4px 0 0;
  background: none;
}

.error {
    color: red;
}

